<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${post.title}">게시글</title>
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <!-- jQuery 추가 -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        .button-group {
            display: flex;
            align-items: center;
        }
        .button-group form {
            margin-bottom: 0;
        }
    </style>
</head>
<body>
<div class="container" style="max-width: 600px">
    <div class="py-5 text-center">
        <h2 th:text="${post.title}">글 제목</h2>
    </div>

    <h2 th:if="${param.status}" th:text="'저장 완료'"></h2>

    <div class="mb-4">
        <p th:text="${post.body}" class="lead">글 내용</p>
    </div>

    <hr class="my-4">

    <div class="row">
        <div class="col">
            <div class="float-end button-group">
                <a th:href="@{/noticeBoard/posts}" class="btn btn-secondary me-2" th:text="#{button.back}">돌아가기</a>
                <a th:href="@{/noticeBoard/posts/edit/{id}(id=${post.id})}" class="btn btn-primary me-2" th:text="#{button.edit}">글 수정</a>
                <form th:action="@{/noticeBoard/posts/{id}(id=${post.id})}" th:method="delete" class="d-inline">
                    <button class="btn btn-danger" type="submit" th:text="#{button.delete}">글 삭제</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>

