<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{page.addItem}">게시글 작성</title>
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
</head>
<body>
<div class="container" style="max-width: 600px">
    <div class="py-5 text-center">
        <form id="addForm" action="post.html" th:action="@{/noticeBoard/posts}" th:object="${post}" method="post">
            <div class="mb-3">
                <label for="title" class="form-label" th:text="#{label.post.title}">제목</label>
                <input type="text" class="form-control title" id="title" th:field="*{title}" th:placeholder="#{input.title}">
                <div class="error-message title"></div>
            </div>
            <div  class="mb-3">
                <label for="body" class="form-label" th:text="#{label.post.body}">내용</label>
                <textarea class="form-control body" id="body" th:field="*{body}" rows="10" th:placeholder="#{input.body}"></textarea>
                <div class="error-message body"></div>
            </div>
            <hr class="my-4">

            <div class="float-end">
                <a th:href="@{/noticeBoard/posts}" class="btn btn-secondary me-2" th:text="#{button.back}">돌아가기</a>
                <button class="btn btn-primary me-2"
                        type="submit"
                        th:text="#{button.save}">새글 등록
                </button>
            </div>
        </form>
    </div>
</div>

<footer th:replace="~{fragment/footer :: footer(~{::js})}">
    <th:block th:fragment="js">
        <script src="/js/addForm.js"></script>
    </th:block>
</footer>

</body>
</html>