<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{page.addItem}">게시글 작성</title>
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container" style="max-width: 600px">
    <div class="py-5 text-center">
        <form id="addForm" action="post.html" th:action="@{/noticeBoard/posts}" th:object="${post}" method="post">
            <div class="mb-3">
                <label for="title" class="form-label" th:text="#{label.post.title}">제목</label>
                <input type="text" class="form-control" id="title" th:field="*{title}" th:placeholder="#{input.title}">
            </div>
            <div  class="mb-3">
                <label for="body" class="form-label" th:text="#{label.post.body}">내용</label>
                <textarea class="form-control" id="body" th:field="*{body}" rows="10" th:placeholder="#{input.body}"></textarea>
            </div>
            <hr class="my-4">

            <div class="float-end">
                <a th:href="@{/noticeBoard/posts}" class="btn btn-secondary me-2" th:text="#{button.back}">돌아가기</a>
                <button class="btn btn-primary me-2"
                        type="submit"
                        th:text="#{button.save}">새글 등록
                </button>
            </div>
        </form>
    </div>
</div>

<script th:inline="javascript">
    document.getElementById("addForm").addEventListener("submit", function(e) {
        e.preventDefault();

        if(confirm("제출하시겠습니까?")) {
            const titleValue = document.getElementById('title').value;
            const bodyValue = document.getElementById('body').value;

            fetch("/noticeBoard/posts", {
                method: "POST",
                headers: {
                    'Content-Type': 'application/json',
                    'X-Requested-With': 'XMLHttpRequest'
                },
                body: JSON.stringify({
                    title: titleValue,
                    body: bodyValue
                })
            })
                .then(response => {
                    if(!response.ok){
                        throw new Error("서버 응답이 실패했습니다.");
                    }
                    return response.json(); //서버의 json응답 파싱
                })
                .then(data => {
                    alert("글이 성공적으로 저장되었습니다.");
                    window.location.href = `/noticeBoard/posts/${data.id}`;
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert('글 수정 중 오류가 발생했습니다: ' + error.message);
                });
        }

    })
</script>

</body>
</html>